@model StudentCreateViewModel

@{
    Layout = "_AdminLayout";
}

<div class="card card-primary">
    <!-- card-header -->
    <div class="card-header">
        <h3 class="card-title">Create</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form method="post">
        <!-- card-body -->
        <div class="card-body">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label  class="form-control">Departments</label>
                @* @Html.LabelFor(m => m.DepartmentId)*@
                @Html.DropDownListFor(
                   m => m.DepartmentId, new SelectList(ViewBag.Departments, "Value", "Text")
                )
                @*<span asp-validation-for="Departments" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="FirstName">First Name</label>
                <input asp-for="FirstName" class="form-control" id="first-name" placeholder="Enter first name">
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName">Last Name</label>
                <input asp-for="LastName" class="form-control" id="LastName" placeholder="Enter last name">
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="EnrollmentDate">Enrollment Date</label>
                <input asp-for="EnrollmentDate" class="form-control" id="EnrollmentDate" placeholder="EnrollmentDate">
                <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Semister">Semister</label>
                <input asp-for="Semister" class="form-control" id="Semister" placeholder="Semister">
                <span asp-validation-for="Semister" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Session">Session</label>
                <input asp-for="Session" class="form-control" id="Session" placeholder="Session">
                <span asp-validation-for="Session" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input asp-for="Email" class="form-control" id="Email" placeholder="example@abc.com">
               
            </div>
             <div class="form-group">
                <label asp-for="PhoneNumber">PhoneNumber</label>
                <input asp-for="PhoneNumber" class="form-control" id="PhoneNumber" placeholder="01XXXXXXXXX">
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="CGPA">CGPA</label>
                <input asp-for="CGPA" class="form-control" id="CGPA" placeholder="CGPA">
                
            </div>
            
           
            

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>


